.navbar-bg {
    background-color: #9e0a10;
}

.main-sidebar .sidebar-menu li.active a {
    color: #be3135;
}

.main-sidebar .sidebar-menu li ul.dropdown-menu li a:hover {
    color: #be3135;
}

.breadcrumb-item a {
    color: #be3135;
}

.main-footer a {
    color: #be3135;
}

.sidebar-style-2 .sidebar-menu > li.active > a:before {
    background-color: #be3135 !important;
}