@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


/* Custom Tombol */
.btn-fill {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    background-image: linear-gradient(#9e0a10,
            #be3135);
    padding: 0.75rem 1rem;
    margin-top: 2.25rem;
    border-radius: 0.75rem;
    transition: 0.5s;
}

/* Judul */
.title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 0.75rem;
}

.caption-text {
    font: 400 0.875rem/1.75rem Poppins, sans-serif;
    color: #a8adb7;
}


/* Input */

.div-input {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.25rem;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #cacbce;
    color: #2a3240;
    transition: 0.3s;
}

.div-input:focus-within {
    border: 1px solid #9e0a10;
    color: #2a3240;
    transition: 0.3s;
}

.div-input input::placeholder {
    color: #cacbce;
    transition: 0.3s;
}

.div-input:focus-within input::placeholder {
    color: #2a3240;
    outline: none;
    transition: 0.3s;
}

.div-input .icon-toggle-empty-4-1 path,
.div-input:focus-within .icon path {
    transition: 0.3;
    fill: #9e0a10;
    transition: 0.3s;
}

.input-field:focus {
    outline: none;
    transition: 0.3s;
}


/* Label Form */
.form-label {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    color: #2a3240;
    transition: 0.3s;
}

/* card */

.card-custom {
    background-color: white;
    padding: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0px 40px 100px -35px rgba(64, 64, 64, 0.22);
    -moz-box-shadow: 0px 40px 100px -35px rgba(64, 64, 64, 0.22);
    box-shadow: 0px 40px 100px -35px rgba(64, 64, 64, 0.22);

}


/* Body */
body {
    background-image: url(/assets/backend/img/BG.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.cp {
    font-size: 16px;
    padding-top: 20px;
    color: rgb(252, 248, 248);
}

.cp a {
    text-decoration: none;
    color: rgb(202, 191, 191);
}

.cp a:hover {
    color: red;
}