@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');

body {
    background: #f5f3f3;

}

/* Navbar */
.nav-link {
    margin-left: 20px;
    font-size: 14px;
    font-family: 'Noto Serif', serif;
    font-weight: 400;

}



.navbar a {
    color: rgb(109, 103, 103) !important;
}

.nav-item a:hover {
    color: #9e0a10 !important;
}


/* Tombol */
.btn-custom {
    background-color: #9e0a10;
    color: white;
    margin: 20px;
    border-radius: 15px;
    padding-left: 20px;
    padding-right: 20px;
}


/* Card-postingan */
.custom-card {
    padding: 16px;
    border-radius: 20px;
    border: 0px solid !important;
    text-decoration: none;
    -webkit-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
}

.custom-card-2 {
    padding: 16px 16px 0px 16px;
    border-radius: 20px;
    border: 0px solid !important;
    text-decoration: none;
    -webkit-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
}

.img-card {
    border-radius: 20px;
    height: 350px;
    object-fit: cover
}

.img-card2 {
    border-radius: 20px;
    height: 200px;
    object-fit: cover
}

.card-body {
    margin-left: -16px;
    margin-right: -16px;
}

.Postinger {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 10px;
    color: rgb(150, 144, 144);
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 28px;
    font-size: 18px;
}

.card-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 28px;
    font-size: 13px;
    color: rgb(138, 132, 132);
}


.custom-link,
.custom-link:hover {
    color: inherit;
    text-decoration: none;
}

.card-title-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 24px;
    font-size: 14px;
}

.card-text-2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 24px;
    font-size: 12px;
    color: rgb(138, 132, 132);
}


/* Judul grup */

.title-custom h1 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 24px;
}

.line-custom {
    background-color: #9e0a10;
    width: 40px;
    height: 4px;
    border-radius: 20px;
}


/* Ads */

@media screen and (max-width: 600px) {
    .ads-text1 {
        visibility: hidden;
        clear: both;
        float: left;
        margin: 10px auto 5px 20px;
        width: 28%;
        display: none;

    }
}

@media screen and (min-width: 600px) {
    .ads-text1 {
        font-size: 10px;
        color: rgb(156, 151, 151);
    }
}

.ads-text1 p,
.ads-text2 p {
    position: relative;
    top: -20px;
    left: 0px;
    background-color: #f09d3e;
    color: #9b570b;
    width: 40px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 0px 10px;

}

.img-custom {
    border-radius: 20px;
}

.ads-text2 {
    font-size: 10px;
    color: rgb(156, 151, 151);
}

.img-custom2 {
    border-radius: 20px;
}

/* Tags */
.tags {
    position: absolute;
    top: 32px;
    left: 32px;
    color: #169e0a;
    background-color: #c0f3a9;
    padding: 8px 12px 8px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 50px;
    font-size: 12px;
}

.tags-ads {
    position: absolute;
    top: 32px;
    right: 32px;
    color: #774307;
    background-color: #f09d3e;
    padding: 8px 12px 8px 12px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    border-radius: 50px;
    font-size: 12px;
}


/* user coment */

.avatars-img {
    width: 35px;
    border-radius: 100%;
    /* border: 2px solid #9e0a10; */
    -webkit-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    box-shadow: 0px 31px 38px -26px rgba(0, 0, 0, 0.07);
    margin-left: -20px;
}

/* view custom */

.view-custom {
    font-family: 'Poppins', sans-serif;
    font-weight: 400px;
    font-size: 12px;
}


/* search */

.div-input {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.25rem;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #cacbce;
    color: #2a3240;
    transition: 0.3s;
    background-color: white;
    border-radius: 24px;
}

.div-input:focus-within {
    border: 1px solid #9e0a10;
    color: #2a3240;
    transition: 0.3s;
}

.div-input input::placeholder {
    color: #cacbce;
    transition: 0.3s;
}

.div-input:focus-within input::placeholder {
    color: #2a3240;
    outline: none;
    transition: 0.3s;
}

.div-input .icon-toggle-empty-4-1 path,
.div-input:focus-within .icon path {
    transition: 0.3;
    fill: #9e0a10;
    transition: 0.3s;
}

.input-field:focus {
    outline: none;
    transition: 0.3s;
}


/* Tittle search */
.text-slider {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 35px;

}

.text-slider-items {
    display: none;
}



/* Number popular post */

.custom-number {
    background-color: #9e0a10;
    width: 50px;
    height: 40px;
    border-radius: 0px 20px 0px 20px;
    position: absolute;
    top: 1px;
    right: 1px;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: 'Noto Serif', serif;
    font-weight: 700;

}

/* Latest Article */

.Latest-article {
    border-radius: 16px;
    object-fit: cover
}

.latest-artc a {
    text-decoration: none;
    color: inherit;
}

.card-custom {
    background-color: white;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px 5px 0px 5px;

}

/* breadcum */
ol>li>a {
    color: #9e0a10;
    text-decoration: none !important;
}

ol>li>a:hover {
    color: #4d0608;
}


/* IMG Post */


@media screen and (min-width: 600px) {
    .img-post img {
        object-fit: cover;
        height: 500px;
        width: 100%;
    }

    .title-post {
        font-family: 'Merriweather',
            serif;
        font-weight: 900;
        font-size: 32px;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.img-post img {
    border-radius: 20px;
}


.detail-post {
    background-color: white;
    padding: 32px;
    margin-top: -50px;
    border-radius: 20px;
    margin-left: 8px;
    margin-right: 8px;
}

.detail-post p {
    font-family: 'Merriweather',
        serif;
    font-size: 12px;
    letter-spacing: 0.5px;
    font-weight: 400;
    line-height: 200%;
}

.title-post {
    font-family: 'Merriweather',
        serif;
    font-weight: 900;
    font-size: 24px;
    padding-top: 24px;
    padding-bottom: 24px;
}


/* yt */

.videowraper {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}



/* Komentar */

.no-box-shadow {
    box-shadow: none
}

.no-box-shadow:focus {
    box-shadow: none
}

.day {
    font-size: 9px
}

.comment-text {
    font-size: 12px
}

.delete {
    font-size: 13px;
    cursor: pointer
}


/* Custom icon share */

.custom-icon a {
    text-decoration: none !important;
    color: #9e0a10 !important;
    font-size: 30px;
    margin: 8px;
}

.cut-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.animated {
    -webkit-animation-duration: 1s;
        -moz-animation-duration: 1s;
        -o-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
        -moz-animation-fill-mode: both;
        -o-animation-fill-mode: both;
            animation-fill-mode: both;
}

.animated.hinges {
    -webkit-animation-duration: 2s;
        -moz-animation-duration: 2s;
        -o-animation-duration: 2s;
            animation-duration: 2s;
}

.animated.slow {
    -webkit-animation-duration: 3s;
        -moz-animation-duration: 3s;
        -o-animation-duration: 3s;
            animation-duration: 3s;
}

.animated.snail {
    -webkit-animation-duration: 4s;
        -moz-animation-duration: 4s;
        -o-animation-duration: 4s;
            animation-duration: 4s;
}

@-webkit-keyframes shake {
    0%, 100% {-webkit-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}

@-moz-keyframes shake {
    0%, 100% {-moz-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}

@-o-keyframes shake {
    0%, 100% {-o-transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {-o-transform: translateX(-10px);}
    20%, 40%, 60%, 80% {-o-transform: translateX(10px);}
}

@keyframes shake {
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
    20%, 40%, 60%, 80% {transform: translateX(10px);}
}

.shake {
    -webkit-animation-name: shake;
    -moz-animation-name: shake;
    -o-animation-name: shake;
    animation-name: shake;
}

.login .modal-dialog{
    width: 350px;
}
.login .modal-footer{
    border-top: 0;
    margin-top: 0px;
    padding: 10px 20px 20px;
}
.login .modal-header {
    border: 0 none;
    padding: 15px 15px 15px;
/*     padding: 11px 15px; */
}

.login .division {
    float: none;
    margin: 0 auto 18px;
    overflow: hidden;
    position: relative;
    text-align: center;
    width: 100%;
}
.login .division .line {
    border-top: 1px solid #DFDFDF;
    position: absolute;
    top: 10px;
    width: 34%;
}
.login .division .line.l {
    left: 0;
}
.login .division .line.r {
    right: 0;
}
.login .division span {
    color: #424242;
    font-size: 17px;
}
.login .box .social {
    float: none;
    margin: 0 auto 30px;
    text-align: center;
}

.login .social .circle{
    background-color: #EEEEEE;
    color: #FFFFFF;
    border-radius: 100px;
    display: inline-flex;
    margin: 0 17px;
    padding: 15px;
}
.login .social .circle .fa{
    font-size: 16px;
}
.login .social .facebook{
    background-color: #455CA8;
    color: #FFFFFF;
}
.login .social .google{
    background-color: #F74933;
}
.login .social .github{
    background-color: #403A3A;
}
.login .facebook:hover{
    background-color: #6E83CD;
}
.login .google:hover{
    background-color: #FF7566;
}
.login .github:hover{
    background-color: #4D4D4d;;
}
.login .forgot {
    color: #797979;
    margin-left: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
}
.login .btn-login, .registerBox .btn-register{
    background-color: #9e0a10;
    border-color: #9e0a10;
    border-width: 0;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    padding: 15px 50px;
    text-transform: uppercase;
    width: 100%;
}
.login .btn-login:hover, .registerBox .btn-register:hover{
    background-color: #9e0a10;
    color: #FFFFFF;
}
.login .form-control{
    border-radius: 3px;
    background-color: rgba(179, 179, 179, 0.09);
    box-shadow: 0 1px 0px 0px rgba(0, 0, 0, 0.09) inset;
    color: #FFFFFF;
}
.login .form-control:hover{
    background-color: rgba(0,0,0,.16);
}
.login .form-control:focus{
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.04) inset;
    background-color: rgba(0,0,0,0.23);
    color: #FFFFFF;
}
.login .box .form input[type="text"], .login .box .form input[type="password"] {
    border-radius: 3px;
    border: none;
    color: #333333;
    font-size: 16px;
    height: 46px;
    margin-bottom: 5px;
    padding: 13px 12px;
    width: 100%;
}


@media (max-width:400px){
    .login .modal-dialog{
        width: 100%;
    }
}

@media (max-width:414px){
    .detail-post img {
        width: 100% !important;
    }
}

.avatar {
    width: 35px;
    height: 35px;
    background-color: #9e0a10;
    border-radius: 50%;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-user {
    width: 40px;
    height: 35px;
    background-color: #9e0a10;
    border-radius: 50%;
    font-family: sans-serif;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swal-footer {
    text-align: center;
}